#![enable(implicit_some)]
Container(
    transform: (
        id: "menu",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.0,
        height: 20.0,
    ),
    background: SolidColor(0.0, 0.0, 0.0, 1.0),
    children: [
        Button(
            transform: (
                id: "resume",
                y: 150.0,
                z: 2.0,
                width: 200.,
                height: 50.,
                tab_order: 1,
                anchor: Middle,
            ),
            button: (
                text: "resume",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 50.0,
                normal_image: SolidColor(0.0, 0.0, 0.0, 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0.0, 0.0, 0.0, 1.),
                normal_text_color: (0.7, 0.7, 0.7, 1.0),
                hover_text_color: (0.2, 0.2, 1.0, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
       Button(
            transform: (
                id: "save",
                y: 50.0,
                z: 2.0,
                width: 200.,
                height: 50.,
                tab_order: 1,
                anchor: Middle,
            ),
            button: (
                text: "save",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 50.0,
                normal_image: SolidColor(0.0, 0.0, 0.0, 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0.0, 0.0, 0.0, 1.),
                normal_text_color: (0.7, 0.7, 0.7, 1.0),
                hover_text_color: (0.2, 0.2, 1.0, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),   
       Button(
            transform: (
                id: "load",
                y: -50.0,
                z: 2.0,
                width: 200.,
                height: 50.,
                tab_order: 1,
                anchor: Middle,
            ),
            button: (
                text: "load",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 50.0,
                normal_image: SolidColor(0.0, 0.0, 0.0, 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0.0, 0.0, 0.0, 1.),
                normal_text_color: (0.7, 0.7, 0.7, 1.0),
                hover_text_color: (0.2, 0.2, 1.0, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),    
       Button(
            transform: (
                id: "quit",
                y: -150.0,
                z: 2.0,
                width: 200.,
                height: 50.,
                tab_order: 1,
                anchor: Middle,
            ),
            button: (
                text: "quit",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 50.0,
                normal_image: SolidColor(0.0, 0.0, 0.0, 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0.0, 0.0, 0.0, 1.),
                normal_text_color: (0.7, 0.7, 0.7, 1.0),
                hover_text_color: (0.2, 0.2, 1.0, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),                   
    ]
)
